**TO BE MOVED:**

**Style Notes:**
1. Functions are named all-lowercase with _ separating words.  Instead of myFunction, its my_function
2. Comments are done with # for single-line, and """ """ for block comments

3 main objectives:
* Understand and implement loops
* Understand and implement functions
* Understand and implement return statements

While loop
For/Else loop
Loop control statements
Nested loops
Python functions
Return statements with 1 or more values

This program runs on Rhyme (built into Coursera).  Not sure yet how I'm going to get all the code out of here.

**Loops in Python:**  (first objective)

**While Loop:**

In [1]:
number = 1
while number < 5:
    print(number)
    number += 1

1
2
3
4

This is the first loop we go through.  Formatting reminders;

"""
this is how you comment out code in python
"""

loops are started with : and indentation on the next lines.

The next while loop is hands-on, with the requirements of;
1. Create a variable called counter, set it to a value greater than 25
2. While counter > 15, print the number and remove 2 from it

In [2]:
counter = 30
while counter > 15:
    print(counter)
    counter -= 2

print("While loop has ended")

30
28
26
24
22
20
18
16
While loop has ended

**For Loop:**

In [3]:
cars=['Audi', 'VW', 'Jaguar', 'Mini']
for x in cars:
    print(x)

print("For loop complete")

Audi
VW
Jaguar
Mini
For loop complete

Now we're doing another hands-on, with the requirements:
1. Use a list of numbers 1-6
2. For each loop, print number * 2

In [4]:
list = [1, 2, 3, 4, 5, 6]
for x in list:
    print(x * 2)

print("For loop complete")

2
4
6
8
10
12
For loop complete

**Loop Controls:**

Now we're doing this again, but with a condition for breaking the loop.

In [5]:
numbers = [1, 2, 3, 4, 5, 6]
for x in numbers:
    print(x)
    if x == 5:
        print("Breaking condition met, existing loop")
        break

else:
    print("Number was not found")

1
2
3
4
5
Breaking condition met, existing loop

In Python there are 3 loop control statements:
1. Break: Exits the loop
2. Continue:  Skips the current iteration of the loop
3. Pass:  

The hands-on exercise wants the following;
1. Create a variable called counter that contains a list of 1-10
2. When the for loop = 6, skip it (continue)

In [6]:
counter = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in counter:
    if x == 6:
        print("Skipping this number")
        continue
    else:
        print(x)

print("End of for loop with loop control statements")

1
2
3
4
5
Skipping this number
7
8
9
10
End of for loop with loop control statements

**Nested Loop:**

In [3]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

In [4]:
for x in numbers:
    print(x)
    for y in letters:
        print(y)

1
a
b
c
2
a
b
c
3
a
b
c

In [5]:
for x in numbers:
    for y in letters:
        print(x, y)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

**Functions in Python:** (2nd objective)

Function declarations take this form in Python:  def function_name(argument):

In [6]:
#function declaration
def about_me(firstname, lastname, age):
    print("My name is " + firstname + " " + lastname + " and my age is " +str(age)) #str() is converting the integer to a string

#calling the function with an argument
about_me("Emma", "Watson", 37)

My name is Emma Watson and my age is 37

You can add default values for functions in-line via their descriptor.

In [7]:
def about_me(firstname="DefaultFirst", lastname="DefaultLast"):
    print("My name is " + firstname + " " + lastname)

about_me("Test")
about_me("Nikk", "One")

My name is Test DefaultLast
My name is Nikk One

**Return Statements in Python:** (3rd objective)

In [8]:
def multiply(num1, num2):
    return num1 * num2

result = (multiply(5, 6))
print("Result = {}".format(result))

Result = 30

In [9]:
def greeting(name):
    return "Hello " + name

result = greeting("Nikk")
print(result)

Hello Nikk

You can return multiple results by returning them in []'s

In [10]:
def about_me():
    name="Emma"
    age=30
    children=2
    return [name, age, children]

result = about_me()
print(result)

['Emma', 30, 2]